@charset "UTF-8";

/***
Code for game-board and box borrowed from
https://codepen.io/shammadahmed/pen/JOWEGW
***/
.box {
	font-size: 3vw;
	margin: 2px;
	height: 95px;
	width: 95px;
	background-color: #f88a00 !important;
	color: #000;
	justify-content: center;
	text-align: center;
	color: #fff;
}

.turn-message {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-message {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}