<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">

<head>
	<title>Tic Tac Toe Game</title>
	<link rel="stylesheet" href="/css/tictactoe.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<div layout:fragment="menu">
		<div th:if="${gameState.gameModel.gameStage.name() == 'IN_GAME'}">
			<p> </p>
			<p> </p>
			<p> </p>
			<div class="container">
				<div class="row" th:style="|justify-content: center;|">
					<p class="turn-message" th:text="${gameState.gameModel.turnMessage}">Message</p>
				</div>
			</div>
		</div>
		<div th:if="${gameState.gameModel.gameStage.name() == 'POST_GAME'}">
			<p> </p>
			<p> </p>
			<p> </p>
			<div class="container">
				<div class="row" th:style="|justify-content: center;|">
					<p class="game-message" th:style="|color: #ff0000;|" th:text="${gameState.gameModel.gameMessage}">
						Message</p>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="content">
		<h1 th:style="|text-align: center;|">__________________________________________________</h1>
		<div class="container">
			<div class="row justify-content-center" th:each="row : ${gameState.board.generateGameBoard()}">
				<div class="box card" th:each="cell : ${row}"
					th:with="markCharacter=${gameState.board.markAt(cell[0],cell[1])}"
					th:text="${markCharacter}"
					th:onclick="|document.location.href='/tictactoe/move?row=${cell[0]}&col=${cell[1]}'|">
				</div>
			</div>

		</div>
		<p></p>
		<p th:style="|text-align: center;|"><a href="/tictactoe/new" class="btn btn-primary">New game</a></p>
		<p th:style="|text-align: center;|"><a href="/tictactoe/reset" class="btn btn-primary">Start over</a></p>
	</div>
</body>

</html>